[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
annotated-types = "==0.6.0"
anyio = "==4.3.0"
asgiref = "==3.8.1"
cachetools = "==5.3.3"
certifi = "==2024.2.2"
charset-normalizer = "==3.3.2"

[dev-packages]

[requires]
python_version = "3.11"
